{% extends 'base.html.twig' %}
<section class="col-20">
{% block title %}Ajouter Category{% endblock %}

{% block body %}



    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
    </section>

{% endblock %}